<app-navigation></app-navigation>
<app-flyer [flyer]="flyer"></app-flyer>
<div class="nosotros">
  <h5><i>Nos gusta ver felices a nuestros clientes</i></h5>
  <h4>SATISFACCIÓN GARANTIZADA</h4>
  <p> Nuestra razón de ser es convertirnos en una mano ayuda para esas empresas que desean expandirse y llevar y traer
    productos por todo el nivel nacional. </p>
  <p> Nos hemos diversificado en varios servicios, pensando en darle la mayor satisfacción completa a todas sus
    necesidades. </p>
</div>

<section class="pages">
  <div class="visionMision">

    <div class="childVisionMision">
      <h3>VISIÓN</h3>
      <p>Ser la primera opción de Empresas de Transporte y Distribución en el mercado peruano, por las soluciones
        holísticas, eficientes y adaptables que brindamos.</p>
    </div>
    <div class="childVisionMision">
      <h3>MISIÓN</h3>
      <p>Optimizar los tiempos y costos de las áreas de logística de cada empresa, con el fin de convertirnos en parte
        de cadena de valor.</p>
    </div>
    <div class="childVisionMision">
      <h3>NUESTROS VALORES</h3>
      <ul>
        <li> CONFIABILIDAD </li>
        <li> SERVICIO </li>
        <li> SEGURIDAD </li>
        <li> COMPROMISO </li>
        <li> PROFESIONALISMO </li>
      </ul>
    </div>
  </div>
</section>

  <div class="teams">
    <div class="ctnTeams">
      <div class="textTeam">
        <h3>Nuestro Equipo de Trabajo</h3>
      <p>Nuestro personal es profesional y altamente entrenado</p>
      </div>
    </div>
    <div class="teamImg">
      <img src="../../../assets/img/nuestro-equipo.webp" alt="Nuestro equipo Moving Force">
    </div>
  </div>


<app-footer></app-footer>